timesensor-demo-v2/userPreferences.*
timesensor-demo-v2/secrets/*
timesensor-demo-v2/Data/data-openai.*
timesensor-demo-v2/Data/lemur/*
timesensor-demo-v2/Project/DerivedData/*
timesensor-demo-v2/Data/import-full.4DD.zip
timesensor-demo-v2/Data/import-passages-openai.4DD.zip
